{% extends 'admin/base_admin.html.twig' %}

{% block title %}
    dashboard
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Tableau de bord</h2>
        </div>
        {{ widgets | raw }}
    </div>
{% endblock %}