{% extends 'base.html.twig' %}

{% block title parent() ~'des articles' %}

{% block body %}
    <h1 class="mb-5">Bienvenue sur le blog</h1>

    <ul>
        <li>
            <a href="{{ path('blog.show', {slug: 'demo'}) }}">
                Article 1
            </a>
        </li>
        <li>article 1</li>
        <li>article 1</li>
        <li>article 1</li>
        <li>article 1</li>
    </ul>
{% endblock %}