<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ count }}</h5>
            <h5 class="card-title">Article{% if count > 1 %}s{% endif %}</h5>
            <a href="{{ path('admin.posts.index') }}" class="btn btn-primary">Gérer les articles</a>
        </div>
    </div>
</div>